anyio==3.5.0+computecanada
appdirs==1.4.4+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.0.5+computecanada
attrs==21.4.0+computecanada
Babel==2.9.1+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
bleach==5.0.1+computecanada
certifi==2022.6.15+computecanada
cffi==1.15.0+computecanada
charset_normalizer==2.1.0+computecanada
cycler==0.11.0+computecanada
dcor==0.5.6
debugpy==1.6.2+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
docopt==0.6.2+computecanada
entrypoints==0.4+computecanada
executing==0.8.3+computecanada
fastjsonschema==2.16.1+computecanada
fonttools==4.34.4+computecanada
idna==3.3+computecanada
importlib_resources==5.8.0+computecanada
ipykernel==6.13.0+computecanada
ipython==8.4.0+computecanada
ipython_genutils==0.2.0+computecanada
jedi==0.18.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.1.0+computecanada
json5==0.9.6+computecanada
jsonschema==4.6.2+computecanada
jupyter_client==7.2.2+computecanada
jupyter_core==4.10.0+computecanada
jupyter_server==1.16.0+computecanada
jupyterlab==3.3.3+computecanada
jupyterlab_pygments==0.2.1+computecanada
jupyterlab_server==2.12.0+computecanada
kiwisolver==1.3.2+computecanada
llvmlite==0.38.1+computecanada
MarkupSafe==2.0.1+computecanada
matplotlib==3.5.2+computecanada
matplotlib_inline==0.1.3+computecanada
mistune==0.8.4+computecanada
mne==1.0.3+computecanada
nbclassic==0.3.7+computecanada
nbclient==0.6.0+computecanada
nbconvert==6.5.0+computecanada
nbformat==5.4.0+computecanada
nest_asyncio==1.5.5+computecanada
notebook==6.4.12+computecanada
notebook_shim==0.1.0+computecanada
numba==0.55.2+computecanada
numpy==1.22.2+computecanada
packaging==21.3+computecanada
pandas==1.4.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.2.0+computecanada
pipreqs==0.4.11
pooch==1.6.0+computecanada
prometheus_client==0.14.1+computecanada
prompt_toolkit==3.0.30+computecanada
psutil==5.9.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pycparser==2.21+computecanada
pyEDFlib==0.1.30
Pygments==2.12.0+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.18.1+computecanada
python-dateutil==2.8.2+computecanada
pyts==0.12.0
pytz==2022.1+computecanada
pyzmq==23.1.0+computecanada
requests==2.28.1+computecanada
scikit_learn==1.1.1+computecanada
scipy==1.8.0+computecanada
Send2Trash==1.8.0+computecanada
six==1.16.0+computecanada
sniffio==1.2.0+computecanada
soupsieve==2.3.2.post1+computecanada
stack_data==0.3.0+computecanada
terminado==0.13.3+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.1.1+computecanada
tokenizers==0.12.1+computecanada
tornado==6.1+computecanada
tqdm==4.64.0+computecanada
traitlets==5.1.1+computecanada
urllib3==1.26.10+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.3.3+computecanada
yarg==0.1.9
zipp==3.8.1+computecanada
